import * as React from 'react';
import {<%= modelName%>Model} from '<%= modelPath%>';
import {ControlLabel, FormGroup, Col, Button, Grid} from 'react-bootstrap';
import {Link} from 'react-router';
import {FormInput} from 'react-hero';

export interface I<%= modelName%>EditPageProps extends IInstancePageProps {
    handleSubmit: (instance: <%= modelName%>Model, e: React.FormEvent) => void;
    handleDelete: (instance: <%= modelName%>Model, e: React.FormEvent) => void;
}

export interface I<%= modelName%>EditPageState {
    instance: <%= modelName%>Model;
}

export class <%= modelName%>EditPage extends React.Component<I<%= modelName%>EditPageProps, I<%= modelName%>EditPageState> { 

    constructor(props: I<%= modelName%>EditPageProps) {
         super();
         this.state = {instance: props.instance};
     }

    handleSubmit = (e: React.FormEvent) => {
        e.preventDefault();
        this.props.handleSubmit(this.state.instance, e);
    }

    handleDelete = (e: React.FormEvent) => {
        this.props.handleDelete(this.state.instance, e);
    }

    handleChange = (instance: <%= modelName%>Model): void  => {
        this.setState({instance: instance});
    };

    render() {
        return (
            <form onSubmit={this.handleSubmit}>
            <Grid>
                <% _.keys(formControls).forEach(function (key) { %>
                <%= formControls[key]%>
                <% }) %>
                <FormGroup>
                    <Col sm={4} smOffset={3}>
                        <Button style={{margin: '0px 10px'}} bsStyle="primary" type="submit">Update</Button>
                        <Button style={{margin: '0px 10px'}} bsStyle="danger" onClick={this.handleDelete}>
                            Delete
                        </Button>
                        <Link style={{margin: '0px 10px'}} className="btn btn-default" to={'<%= cancelDestination%>'}>Cancel</Link>
                    </Col>
                </FormGroup>
                </Grid>
            </form>
        );    
    }
};
